@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Josefin+Slab:ital,wght@0,200;0,400;0,500;0,600;0,700;1,100;1,200;1,400;1,500;1,600;1,700&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root {
    --font-primary: "Baloo Da 2", serif;
    --font-secundary: "Josefin Slab", serif;
    --font-action: "Mulish", serif;
}

html {
    scroll-behavior: smooth;
}

.hamburguer{
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 200;
    right: 2rem;
    top: 2rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    cursor: pointer;
}

.show-menu .hamburguer{
    right: 16rem;
}

.line{
    width: 100%;
    height: .1rem;
    background-color: #ffffff;
    box-shadow: 0.1rem 0.1rem 1px #000;
    transition: transform 1s;
}

.show-menu #line1 {
    transform: rotate(45deg) translate(.3rem, .45rem);
}

.show-menu #line2 {
    opacity: 0;
    visibility: hidden;
}

.show-menu #line3 {
    transform: rotate(-45deg) translate(.3rem, -.45rem);
}

.hamburguer span {
    background-color: #a044ff;
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: var(--font-action);
    opacity: 0;
}

.hamburguer span::before {
    content: '';
    position: absolute;
    border-right: .5rem solid #a044ff;
    border-top: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1rem;
}

.show-menu .hamburguer:hover span {
    opacity: 1;
}

header{
    width: 100%;
    height: 100vh;
    position: relative;
}

.image-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 1);
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
    animation: zoom 15s;
}

@keyframes zoom {
    0% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.banner{
    position: absolute;
    top: 35%;
    left: 15%;
}

.banner h1{
    font-family: var(--font-primary);
    font-size: 3.5rem;
    font-weight: 200;
    color: #ffff;
    text-shadow: .2rem .3rem 2px rgba(0, 0, 0, 0.4);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.5s forwards;
}

.banner p{
    font-family: var(--font-secundary);
    font-size: 2rem;
    color: #ffff;
    text-shadow: .2rem .3rem 2px rgba(0, 0, 0, 0.4);
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.7s forwards;
}

.banner button{
    font-family: var(--font-action);
    font-size: 1rem;
    text-transform: uppercase;
    color: #ffff;
    letter-spacing: .1rem;
    background-color: purple;
    background: #6a3093;
    background: -webkit-linear-gradient(to left, #a044ff, #6a3093);
    background: linear-gradient(to left, #a044ff, #6a3093);
    padding: 1rem 3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    animation: moveBanner 1s 0.9s forwards;
}

@keyframes moveBanner {
    0% {
        transform: translateY(10rem) rotateY(-30deg);
    }
    100% {
        transform: translateY(0rem) rotateY(0);
        opacity: 1;
    }
}

.banner button:hover{
    opacity: 0.8;
}

.sidebar{
    width: 20rem;
    height: 100vh;
    background-color: #fff;
    top: 0;
    position: fixed;
    right: -20rem;
    z-index: 150;
    transition: all 1s;
}

.show-menu .sidebar{
    right: 0;
}

.menu {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menuG {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item{
    text-align: center;
    margin-bottom: 1rem;
}

.menu-itemG{
    text-align: center;
    margin-bottom: 2rem;
}

.menu-link{
    font-family: var(--font-action);
    font-size: 2rem;
    color: #555;
    transition: color 1s;
}

.menu-linkG{
    font-family: var(--font-action);
    font-size: 1.5rem;
    color: #555;
    transition: color 1s;
}

.menu-link:hover{
    color: #a044ff;
}

.social-media{
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.social-media i{
    color: #6a3093;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 1s;
}

.social-media i:hover{
    color: #a044ff;
}

.sessao-modulo{
    background-color: #f5f5f5;
}

.header-modulo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-modulo h1{
    font-family: var(--font-primary);
    font-size: 3rem;
    color: #4b4b4b;
    border-bottom: solid 3px #6a3093;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
}

.modulo-image-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.imagem-modulo img{
    object-fit: cover;
    width: 100%;
    margin-top: 6rem;
}

.modulo{
    width: 80%;
    align-items: center;
    justify-content: center;
    margin-left: 8rem;
}

.modulo-text{
    font-family: var(--font-secundary);
    font-weight: bold;
    font-size: 2rem;
    text-align: justify;
    margin-top: 2rem;
    color: #4b4b4b;
}

.sessao-competencias{
    background-color: #f5f5f5;
}

.header-competencias{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-competencias h1{
    font-family: var(--font-primary);
    font-size: 3rem;
    color: #4b4b4b;
    border-bottom: solid 3px #6a3093;
    margin-bottom: 1.5rem;
    margin-top: 5rem;
}

.competencias{
    display: flex;
    justify-content: space-evenly;
}

.card {
    width: 18rem;
    height: 25rem;
    position: relative;
    margin-top: 5rem;
}

.card-image-wrapper{
    width: 100%;
    height: 100%;
    background-color: #262626;
    border-radius: .5rem;
}

.card-image-wrapper img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    opacity: .8;
    transition: opacity.3s;
}

.card:hover .card-image-wrapper img{
    opacity: .5;
}

.card-info {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 0;
    padding: 2rem;
    text-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.8);
    transition: all .3s;
    text-align: center;
}

.card-info h2{
    font-family: var(--font-primary);
    font-size: 1.7rem;
    color: #f5f5f5;
    margin-bottom: 1rem;
}

.card-info h3{
    font-family: var(--font-action);
    font-size: 1.3rem;
    color: #ff4081;
    margin-bottom: 4rem;
}

.card-info button{
    width: 8rem;
    height: 2.5rem;
    font-family: var(--font-action);
    font-size: .8rem;
    color: #ffff;
    background-color: purple;
    background: #6a3093;
    background: -webkit-linear-gradient(to left, #a044ff, #6a3093);
    background: linear-gradient(to left, #a044ff, #6a3093);
    padding: .5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card:hover .card-info{
    bottom: 2rem;
    opacity: 1;
    visibility: visible;
}

.sessao-competencias2{
    background-color: #f5f5f5;
}

.competencias2{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 8rem;
}

.card2 {
    margin-top: 4rem;
    width: 18rem;
    height: 25rem;
    position: relative;
}

.card2:hover .card-info{
    bottom: 2rem;
    opacity: 1;
    visibility: visible;
}

.card2:hover .card-image-wrapper img{
    opacity: .5;
}

.rodape {
    width: 100%;
    height: 10rem;
    background-color: rgba(0, 0, 0, 0.9);
}

.sessao-conteudo{
    background-color: #f5f5f5;
}

.header-conteudo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-conteudo h1{
    font-family: var(--font-primary);
    font-size: 3rem;
    color: #4b4b4b;
    border-bottom: solid 3px #6a3093;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
}
.conteudo{
    width: 80%;
    align-items: center;
    justify-content: center;
    margin-left: 8rem;
}

.conteudo-text{
    font-family: var(--font-secundary);
    font-weight: bold;
    font-size: 2rem;
    text-align: justify;
    margin-top: 2rem;
    color: #4b4b4b;
}

.conteudo-image-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem-conteudo{
    object-fit: cover;
    width: 7rem;
    height: 7rem;
}

.imagem-conteudo img{
    width: 100%;
    height: 100%;
}

.video-conteudo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}